<header class="hero">
      <header class="navbar">
        <div class="nav-brand">
          <a href="#">
            <img
              src="img/impulsar_logo.png"
              alt="Impulsar Studio Logo"
              class="logo"
            />
          </a>
        </div>

        <ul class="nav-links">
          <li><a href="#servicios">Servicios</a></li>
          <li><a href="#precios">Planes</a></li>
          <li><a href="#testimonios">Testimonios</a></li>
        </ul>

        <a
          href="https://wa.me/5492615340836?text=Hola%20Impulsar%20Studio!%20Me%20gustar%C3%ADa%20hacerles%20una%20consulta."
          target="_blank"
          class="nav-cta"
          >Contáctanos</a
        >
      </header>