<header class="hero">
      <header class="navbar">
        <div class="nav-brand">
          <a href="#">
            <img
              src="img/impulsar_logo.png"
              alt="Impulsar Studio Logo"
              class="logo"
            />
          </a>
        </div>

        <button class="mobile-menu-btn" aria-label="Abrir menú">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </button>

        <div class="nav-menu">
          <ul class="nav-links">
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#precios">Planes</a></li>
            <li><a href="#testimonios">Testimonios</a></li>
          </ul>

          <a
            href="https://wa.me/5492615340836?text=Hola%20Impulsar%20Studio!%20Me%20gustar%C3%ADa%20hacerles%20una%20consulta."
            target="_blank"
            class="nav-cta"
            >Nuestros Servicios</a
          >
        </div>
      </header>