<!-- ================= SERVICIOS ================= -->

    <section id="servicios" class="services">
      <h2 class="section-title" data-animation="fade-up">Servicios</h2>

      <div class="services-grid">
        <div class="service-card" data-animation="fade-up" data-delay="100">
          <div class="service-image">
            <img src="img/desarrollo_web.png" />
          </div>

          <h3>Desarrollo Web</h3>
          <p>Sitios profesionales rápidos y optimizados.</p>
        </div>

        <div class="service-card" data-animation="fade-up" data-delay="200">
          <div class="service-image">
            <img src="img/e-commerce.png" />
          </div>

          <h3>E-Commerce</h3>
          <p>Tiendas online listas para vender.</p>
        </div>

        <div class="service-card" data-animation="fade-up" data-delay="300">
          <div class="service-image">
            <img src="img/soporte_tecnico.png" />
          </div>

          <h3>Soporte Técnico</h3>
          <p>PC, notebooks y consolas.</p>
        </div>

        <div class="service-card" data-animation="fade-up" data-delay="400">
          <div class="service-image">
            <img src="img/asesoria.png" />
          </div>

          <h3>Asesoría Digital</h3>
          <p>Transformación digital para empresas.</p>
        </div>
      </div>
    </section>